In [33]:
# Import necessary libraries

import pandas as pd

In [34]:
# Import and preview daily twitter senitment data 

daily_sentiment = pd.read_csv('daily_sentiment_scores.csv')
daily_sentiment.head()

,date_time,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
0,2018-01-01,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
1,2018-01-02,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2,2018-01-03,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
3,2018-01-04,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
4,2018-01-05,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976

In [35]:
# Import and preview Tesla daily stock data

stock_prices = pd.read_csv('TSLA.csv')
stock_prices.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-07-19,225.000000,229.100006,224.750000,225.259995,225.259995,3115100
1,2016-07-20,226.470001,229.800003,225.000000,228.360001,228.360001,2568500
2,2016-07-21,226.000000,227.850006,219.100006,220.500000,220.500000,4428700
3,2016-07-22,221.990005,224.500000,218.880005,222.270004,222.270004,2579700
4,2016-07-25,222.270004,231.389999,221.369995,230.009995,230.009995,4490700

In [36]:
# Check daily_sentiment datatypes

daily_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 7 columns):
date_time      560 non-null object
sentiment_1    560 non-null float64
sentiment_2    560 non-null float64
s1_no_0        560 non-null float64
s2_no_0        560 non-null float64
s1_scaled      560 non-null float64
s2_scaled      560 non-null float64
dtypes: float64(6), object(1)
memory usage: 30.7+ KB

In [37]:
# Change daily_sentiment 'date_time' column into datetime and set as index

daily_sentiment.set_index(pd.to_datetime(daily_sentiment.date_time), inplace = True)
daily_sentiment = daily_sentiment.drop(columns = ['date_time'])

daily_sentiment.head()

            sentiment_1  sentiment_2   s1_no_0   s2_no_0  s1_scaled  s2_scaled
date_time
2018-01-01     0.159220     0.056144  0.253756  0.204524   0.545814   0.017779
2018-01-02     0.129106     0.010886  0.163974  0.065315   0.447675  -0.136340
2018-01-03    -0.139748    -0.054146 -0.204682 -0.087235  -0.428520  -0.357795
2018-01-04    -0.062928     0.012496 -0.086355  0.027508  -0.178162  -0.130857
2018-01-05     0.050091     0.026263  0.089410  0.069200   0.190164  -0.083976

In [38]:
# Check stock_prices datatypes

stock_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 7 columns):
Date         755 non-null object
Open         755 non-null float64
High         755 non-null float64
Low          755 non-null float64
Close        755 non-null float64
Adj Close    755 non-null float64
Volume       755 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 41.4+ KB

In [39]:
# Change stock_prices 'Date' column into datetime and set as index

stock_prices.set_index(pd.to_datetime(stock_prices.Date), inplace = True)
stock_prices = stock_prices.drop(columns = ['Date'])
stock_prices.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-12,239.750000,245.380005,239.710007,245.080002,245.080002,9200500
2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100
2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000
2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700
2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4758600

In [40]:
# Create column to view the change in open prices from prior days close
# Create a column that labels whether the open-close difference was positive or negative

stock_prices['open_close_diff'] = stock_prices.Open - stock_prices.Close.shift(1)
stock_prices['pos_neg'] = stock_prices['pos_neg'] = stock_prices.open_close_diff.apply(lambda x: 1 if (x > 0) else (-1 if x < 0 else 0))
stock_prices

,Open,High,Low,Close,Adj Close,Volume,open_close_diff,pos_neg
Date,,,,,,,,
2016-07-19,225.000000,229.100006,224.750000,225.259995,225.259995,3115100,NaN,0
2016-07-20,226.470001,229.800003,225.000000,228.360001,228.360001,2568500,1.210006,1
2016-07-21,226.000000,227.850006,219.100006,220.500000,220.500000,4428700,-2.360001,-1
2016-07-22,221.990005,224.500000,218.880005,222.270004,222.270004,2579700,1.490005,1
2016-07-25,222.270004,231.389999,221.369995,230.009995,230.009995,4490700,0.000000,0
2016-07-26,227.690002,230.000000,225.300003,229.509995,229.509995,3430000,-2.319993,-1
2016-07-27,229.339996,233.360001,226.919998,228.490005,228.490005,2885200,-0.169999,-1
2016-07-28,227.949997,230.759995,226.600006,230.610001,230.610001,2419100,-0.540008,-1
2016-07-29,230.699997,235.279999,230.240005,234.789993,234.789993,3070800,0.089996,1
2016-08-01,235.500000,236.630005,229.380005,230.009995,230.009995,4016300,0.710007,1
2016-08-02,229.369995,229.869995,221.399994,227.199997,227.199997,3934400,-0.640000,-1
2016-08-03,227.369995,229.699997,224.210007,225.789993,225.789993,3887800,0.169998,1
2016-08-04,225.690002,230.860001,222.050003,230.610001,230.610001,4122800,-0.099991,-1
2016-08-05,230.000000,232.000000,227.399994,230.029999,230.029999,3205200,-0.610001,-1
2016-08-08,228.000000,229.600006,226.089996,226.160004,226.160004,2263600,-2.029999,-1
2016-08-09,226.820007,231.539993,226.649994,229.080002,229.080002,2207800,0.660003,1
2016-08-10,228.240005,229.869995,224.619995,225.649994,225.649994,2338300,-0.839997,-1
2016-08-11,226.169998,227.570007,223.410004,224.910004,224.910004,1875800,0.520004,1
2016-08-12,225.410004,226.649994,224.039993,225.610001,225.610001,1813500,0.500000,1
2016-08-15,226.020004,229.500000,224.929993,225.589996,225.589996,2034300,0.410003,1
2016-08-16,225.490005,227.190002,223.410004,223.610001,223.610001,2267100,-0.099991,-1
2016-08-17,224.330002,224.830002,222.800003,223.240005,223.240005,1787100,0.720001,1
2016-08-18,223.820007,225.660004,222.289993,223.509995,223.509995,1714500,0.580002,1
2016-08-19,223.539993,225.169998,222.529999,225.000000,225.000000,1659500,0.029998,1
2016-08-22,224.169998,225.110001,222.679993,222.929993,222.929993,2065500,-0.830002,-1
2016-08-23,224.320007,228.490005,222.800003,224.839996,224.839996,4784400,1.390014,1
2016-08-24,227.050003,227.149994,222.220001,222.619995,222.619995,2570700,2.210007,1
2016-08-25,223.110001,223.800003,220.770004,220.960007,220.960007,1762500,0.490006,1
2016-08-26,222.139999,222.860001,218.820007,219.990005,219.990005,2239000,1.179992,1
2016-08-29,220.149994,220.399994,215.000000,215.199997,215.199997,3257100,0.159989,1
...,...,...,...,...,...,...,...,...
2019-06-06,204.440002,211.000000,201.800003,205.949997,205.949997,20242200,7.850006,1
2019-06-07,205.000000,210.839996,203.500000,204.500000,204.500000,16003500,-0.949997,-1
2019-06-10,210.250000,216.940002,209.009995,212.880005,212.880005,10585000,5.750000,1
2019-06-11,219.139999,220.899994,213.500000,217.100006,217.100006,11653500,6.259994,1
2019-06-12,222.949997,223.380005,209.000000,209.259995,209.259995,15197500,5.849991,1
2019-06-13,210.380005,214.899994,207.509995,213.910004,213.910004,8168300,1.120010,1
2019-06-14,211.250000,216.649994,210.399994,214.919998,214.919998,7433400,-2.660004,-1
2019-06-17,215.479996,227.000000,214.270004,225.029999,225.029999,12316800,0.559998,1
2019-06-18,228.720001,234.740005,222.559998,224.740005,224.740005,12715800,3.690002,1
2019-06-19,225.110001,227.770004,221.059998,226.429993,226.429993,6575100,0.369996,1
2019-06-20,223.000000,226.899994,216.350006,219.619995,219.619995,11863500,-3.429993,-1
2019-06-21,216.220001,222.179993,215.500000,221.860001,221.860001,8202100,-3.399994,-1
2019-06-24,223.240005,225.860001,221.020004,223.639999,223.639999,5750800,1.380004,1
2019-06-25,224.389999,225.339996,219.490005,219.759995,219.759995,6182100,0.750000,1
2019-06-26,220.309998,227.229996,218.100006,219.270004,219.270004,8507200,0.550003,1
2019-06-27,219.449997,222.899994,217.350006,222.839996,222.839996,6339700,0.179993,1
2019-06-28,220.990005,225.169998,220.800003,223.460007,223.460007,6851400,-1.849991,-1
2019-07-01,230.210007,233.100006,226.279999,227.169998,227.169998,8238000,6.750000,1
2019-07-02,228.889999,229.149994,222.220001,224.550003,224.550003,9259000,1.720001,1
2019-07-03,239.389999,241.570007,234.509995,234.899994,234.899994,14201100,14.839996,1
2019-07-05,234.570007,235.449997,230.800003,233.100006,233.100006,7065700,-0.329987,-1
2019-07-08,231.240005,232.250000,228.660004,230.339996,230.339996,5880500,-1.860001,-1
2019-07-09,228.970001,231.000000,227.279999,230.059998,230.059998,6190800,-1.369995,-1
2019-07-10,234.149994,238.940002,233.139999,238.919998,238.919998,9145700,4.089996,1
2019-07-11,238.139999,241.500000,235.800003,238.600006,238.600006,7514400,-0.779999,-1
2019-07-12,239.750000,245.380005,239.710007,245.080002,245.080002,9200500,1.149994,1
2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100,2.919998,1
2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000,-4.199997,-1
2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700,3.289993,1
2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4758600,0.190002,1

In [41]:
# Upsample so you have columns for everyday

stock_prices = stock_prices.resample('D').asfreq()
stock_prices

,Open,High,Low,Close,Adj Close,Volume,open_close_diff,pos_neg
Date,,,,,,,,
2016-07-19,225.000000,229.100006,224.750000,225.259995,225.259995,3115100.0,NaN,0.0
2016-07-20,226.470001,229.800003,225.000000,228.360001,228.360001,2568500.0,1.210006,1.0
2016-07-21,226.000000,227.850006,219.100006,220.500000,220.500000,4428700.0,-2.360001,-1.0
2016-07-22,221.990005,224.500000,218.880005,222.270004,222.270004,2579700.0,1.490005,1.0
2016-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-25,222.270004,231.389999,221.369995,230.009995,230.009995,4490700.0,0.000000,0.0
2016-07-26,227.690002,230.000000,225.300003,229.509995,229.509995,3430000.0,-2.319993,-1.0
2016-07-27,229.339996,233.360001,226.919998,228.490005,228.490005,2885200.0,-0.169999,-1.0
2016-07-28,227.949997,230.759995,226.600006,230.610001,230.610001,2419100.0,-0.540008,-1.0
2016-07-29,230.699997,235.279999,230.240005,234.789993,234.789993,3070800.0,0.089996,1.0
2016-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-01,235.500000,236.630005,229.380005,230.009995,230.009995,4016300.0,0.710007,1.0
2016-08-02,229.369995,229.869995,221.399994,227.199997,227.199997,3934400.0,-0.640000,-1.0
2016-08-03,227.369995,229.699997,224.210007,225.789993,225.789993,3887800.0,0.169998,1.0
2016-08-04,225.690002,230.860001,222.050003,230.610001,230.610001,4122800.0,-0.099991,-1.0
2016-08-05,230.000000,232.000000,227.399994,230.029999,230.029999,3205200.0,-0.610001,-1.0
2016-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-08,228.000000,229.600006,226.089996,226.160004,226.160004,2263600.0,-2.029999,-1.0
2016-08-09,226.820007,231.539993,226.649994,229.080002,229.080002,2207800.0,0.660003,1.0
2016-08-10,228.240005,229.869995,224.619995,225.649994,225.649994,2338300.0,-0.839997,-1.0
2016-08-11,226.169998,227.570007,223.410004,224.910004,224.910004,1875800.0,0.520004,1.0
2016-08-12,225.410004,226.649994,224.039993,225.610001,225.610001,1813500.0,0.500000,1.0
2016-08-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-15,226.020004,229.500000,224.929993,225.589996,225.589996,2034300.0,0.410003,1.0
2016-08-16,225.490005,227.190002,223.410004,223.610001,223.610001,2267100.0,-0.099991,-1.0
2016-08-17,224.330002,224.830002,222.800003,223.240005,223.240005,1787100.0,0.720001,1.0
...,...,...,...,...,...,...,...,...
2019-06-19,225.110001,227.770004,221.059998,226.429993,226.429993,6575100.0,0.369996,1.0
2019-06-20,223.000000,226.899994,216.350006,219.619995,219.619995,11863500.0,-3.429993,-1.0
2019-06-21,216.220001,222.179993,215.500000,221.860001,221.860001,8202100.0,-3.399994,-1.0
2019-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-24,223.240005,225.860001,221.020004,223.639999,223.639999,5750800.0,1.380004,1.0
2019-06-25,224.389999,225.339996,219.490005,219.759995,219.759995,6182100.0,0.750000,1.0
2019-06-26,220.309998,227.229996,218.100006,219.270004,219.270004,8507200.0,0.550003,1.0
2019-06-27,219.449997,222.899994,217.350006,222.839996,222.839996,6339700.0,0.179993,1.0
2019-06-28,220.990005,225.169998,220.800003,223.460007,223.460007,6851400.0,-1.849991,-1.0
2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-01,230.210007,233.100006,226.279999,227.169998,227.169998,8238000.0,6.750000,1.0
2019-07-02,228.889999,229.149994,222.220001,224.550003,224.550003,9259000.0,1.720001,1.0
2019-07-03,239.389999,241.570007,234.509995,234.899994,234.899994,14201100.0,14.839996,1.0
2019-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-05,234.570007,235.449997,230.800003,233.100006,233.100006,7065700.0,-0.329987,-1.0
2019-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-08,231.240005,232.250000,228.660004,230.339996,230.339996,5880500.0,-1.860001,-1.0
2019-07-09,228.970001,231.000000,227.279999,230.059998,230.059998,6190800.0,-1.369995,-1.0
2019-07-10,234.149994,238.940002,233.139999,238.919998,238.919998,9145700.0,4.089996,1.0
2019-07-11,238.139999,241.500000,235.800003,238.600006,238.600006,7514400.0,-0.779999,-1.0
2019-07-12,239.750000,245.380005,239.710007,245.080002,245.080002,9200500.0,1.149994,1.0
2019-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100.0,2.919998,1.0
2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000.0,-4.199997,-1.0
2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700.0,3.289993,1.0
2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4758600.0,0.190002,1.0

In [42]:
# Merge both dataframe

daily = pd.merge(stock_prices, daily_sentiment, how='inner', left_index=True, right_index=True)
daily.head()

,Open,High,Low,Close,Adj Close,Volume,open_close_diff,pos_neg,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
2018-01-02,312.000000,322.109985,311.000000,320.529999,320.529999,4352200.0,0.649994,1.0,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,321.000000,325.250000,315.549988,317.250000,317.250000,4521500.0,0.470001,1.0,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,312.869995,318.549988,305.679993,314.619995,314.619995,9946300.0,-4.380005,-1.0,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,316.619995,317.239990,312.000000,316.579987,316.579987,4591200.0,2.000000,1.0,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976

In [11]:
daily

,Open,High,Low,Close,Adj Close,Volume,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
2018-01-02,312.000000,322.109985,311.000000,320.529999,320.529999,4352200.0,0.649994,1.0,-0.350006,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,321.000000,325.250000,315.549988,317.250000,317.250000,4521500.0,0.470001,1.0,-4.980011,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,312.869995,318.549988,305.679993,314.619995,314.619995,9946300.0,-4.380005,-1.0,-11.570007,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,316.619995,317.239990,312.000000,316.579987,316.579987,4591200.0,2.000000,1.0,-2.619995,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976
2018-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222727,0.065419,0.308636,0.099151,0.752783,0.049365
2018-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.063623,0.028566,0.100172,0.078293,0.234265,-0.076131
2018-01-08,316.000000,337.019989,315.500000,336.410004,336.410004,9859400.0,-0.579987,-1.0,-1.079987,0.134637,0.074042,0.195672,0.120457,0.465698,0.078729
2018-01-09,335.160004,338.799988,327.399994,333.690002,333.690002,7146600.0,-1.250000,-1.0,-9.010010,0.215636,0.058817,0.381270,0.170848,0.729674,0.026881
2018-01-10,332.200012,337.000000,330.000000,334.799988,334.799988,4309900.0,-1.489990,-1.0,-3.690002,-0.092849,0.005838,-0.178087,0.022768,-0.275675,-0.153530
2018-01-11,335.239990,344.809998,333.260010,337.950012,337.950012,6645500.0,0.440002,1.0,-1.539978,0.111801,0.032478,0.264791,0.071877,0.391276,-0.062812
2018-01-12,338.630005,340.410004,333.670013,336.220001,336.220001,4825100.0,0.679993,1.0,-4.279999,0.039577,0.015762,0.063324,0.044742,0.155900,-0.119736
2018-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077125,0.046140,0.133405,0.134227,0.278268,-0.016286
2018-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.204264,-0.012290,-0.270460,-0.045064,-0.638775,-0.215262
2018-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.014425,0.049583,0.031446,0.120102,0.073929,-0.004561
2018-01-16,337.540009,345.000000,334.799988,340.059998,340.059998,6474300.0,1.320008,1.0,-1.420013,0.037499,0.067908,0.067253,0.143651,0.149127,0.057839
2018-01-17,340.470001,349.000000,339.750000,347.160004,347.160004,7083700.0,0.410003,1.0,-0.309998,-0.001003,0.064650,-0.001425,0.116167,0.023648,0.046744
2018-01-18,345.670013,352.299988,343.739990,344.570007,344.570007,5685800.0,-1.489991,-1.0,-3.420014,0.056011,0.052435,0.103663,0.130039,0.209459,0.005150
2018-01-19,345.000000,350.589996,342.600006,350.019989,350.019989,4888300.0,0.429993,1.0,-1.970001,0.157997,0.087661,0.290274,0.164887,0.541831,0.125108
2018-01-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.126775,0.057644,0.257639,0.165071,0.440076,0.022887
2018-01-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.109753,0.009579,0.184229,0.025011,0.384603,-0.140791
2018-01-22,349.399994,357.829987,349.200012,351.559998,351.559998,6210400.0,-0.619995,-1.0,-0.819977,0.066524,0.033995,0.195281,0.090986,0.243720,-0.057646
2018-01-23,360.000000,360.500000,351.000000,352.790009,352.790009,5465400.0,8.440002,1.0,-0.559998,0.145305,0.068914,0.191722,0.134524,0.500466,0.061266
2018-01-24,354.579987,354.750000,343.519989,345.890015,345.890015,5287500.0,1.789978,1.0,-9.270020,0.001751,0.044113,0.002231,0.098874,0.032624,-0.023190
2018-01-25,348.269989,349.200012,336.399994,337.640015,337.640015,6740300.0,2.379974,1.0,-9.490021,0.032583,0.057264,0.053626,0.139195,0.133106,0.021594
2018-01-26,341.500000,344.000000,335.709991,342.850006,342.850006,4539400.0,3.859985,1.0,-1.930024,0.026095,0.020654,0.036657,0.069634,0.111962,-0.103076
2018-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039758,-0.038280,0.050825,-0.056509,0.156490,-0.303767
2018-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164508,0.041271,0.223061,0.084658,0.563047,-0.032869
2018-01-29,339.850006,350.850006,338.279999,349.529999,349.529999,4747100.0,-3.000000,-1.0,-4.570007,0.132859,0.201897,0.217889,0.341352,0.459905,0.514120
2018-01-30,345.140015,348.269989,342.170013,345.820007,345.820007,4717700.0,-4.389984,-1.0,-7.359986,0.133707,0.066837,0.208492,0.192155,0.462667,0.054192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.153383,0.053957,0.194508,0.088248,0.526794,0.010333
2019-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.126961,0.097581,0.158701,0.170766,0.440682,0.158886
2019-06-17,215.479996,227.000000,214.270004,225.029999,225.029999,12316800.0,0.559998,1.0,-0.649994,0.116832,0.066239,0.174340,0.118489,0.407673,0.052155
2019-06-18,228.720001,234.740005,222.559998,224.740005,224.740005,12715800.0,3.690002,1.0,-2.470001,0.099575,0.041965,0.141378,0.066482,0.351433,-0.030503
2019-06-19,225.110001,227.770004,221.059998,226.429993,226.429993,6575100.0,0.369996,1.0,-3.680007,0.142511,0.069840,0.188969,0.102546,0.491361,0.064420
2019-06-20,223.000000,226.899994,216.350006,219.619995,219.619995,11863500.0,-3.429993,-1.0,-10.079987,0.008821,0.039074,0.011052,0.073438,0.055666,-0.040349
2019-06-21,216.220001,222.179993,215.500000,221.860001,221.860001,8202100.0,-3.399994,-1.0,-4.119995,-0.014472,0.032197,-0.018729,0.049133,-0.020247,-0.063769
2019-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.074582,0.089155,0.100982,0.166351,0.269980,0.130195
2019-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.130788,0.064918,0.156945,0.103244,0.453155,0.047660
2019-06-24,223.240005,225.860001,221.020004,223.639999,223.639999,5750800.0,1.380004,1.0,-0.839997,0.043353,0.056186,0.053417,0.086795,0.168206,0.017923
2019-06-25,224.389999,225.339996,219.490005,219.759995,219.759995,6182100.0,0.750000,1.0,-4.149994,0.081800,0.037575,0.111015,0.060409,0.293505,-0.045453
2019-06-26,220.309998,227.229996,218.100006,219.270004,219.270004,8507200.0,0.550003,1.0,-1.659989,0.052143,0.018234,0.068393,0.030233,0.196851,-0.111316
2019-06-27,219.449997,222.899994,217.350006,222.839996,222.839996,6339700.0,0.179993,1.0,-1.919998,0.086618,0.050786,0.109717,0.078770,0.309207,-0.000466
2019-06-28,220.990005,225.169998,220.800003,223.460007,223.460007,6851400.0,-1.849991,-1.0,-2.039993,0.050786,0.088258,0.062349,0.141111,0.192429,0.127140
2019-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.164682,0.045244,0.204063,0.067866,0.563617,-0.019338
2019-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086172,0.094484,0.101893,0.127189,0.307752,0.148339
2019-07-01,230.210007,233.100006,226.279999,227.169998,227.169998,8238000.0,6.750000,1.0,2.819992,0.076753,0.065739,0.104164,0.115652,0.277055,0.050455
2019-07-02,228.889999,229.149994,222.220001,224.550003,224.550003,9259000.0,1.720001,1.0,-4.949997,0.056028,0.049229,0.073578,0.080490,0.209512,-0.005767
2019-07-03,239.389999,241.570007,234.509995,234.899994,234.899994,14201100.0,14.839996,1.0,9.959992,0.130844,0.063920,0.182713,0.099149,0.453337,0.044260
2019-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.248439,0.153694,0.316673,0.224343,0.836580,0.349970
2019-07-05,234.570007,235.449997,230.800003,233.100006,233.100006,7065700.0,-0.329987,-1.0,-4.099991,0.122033,0.084577,0.152704,0.137438,0.424623,0.114605
2019-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.125720,0.089322,0.156481,0.137509,0.436638,0.130763
2019-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.126212,0.128423,0.164076,0.191896,0.438243,0.263914
2019-07-08,231.240005,232.250000,228.660004,230.339996,230.339996,5880500.0,-1.860001,-1.0,-4.440002,0.131385,0.060371,0.177158,0.092776,0.455102,0.032174
2019-07-09,228.970001,231.000000,227.279999,230.059998,230.059998,6190800.0,-1.369995,-1.0,-3.059997,0.077999,0.061492,0.109609,0.094904,0.281116,0.035993
2019-07-10,234.149994,238.940002,233.139999,238.919998,238.919998,9145700.0,4.089996,1.0,3.080001,0.172966,0.044234,0.226520,0.081442,0.590612,-0.022779
2019-07-11,238.139999,241.500000,235.800003,238.600006,238.600006,7514400.0,-0.779999,-1.0,-3.119995,0.125274,0.045225,0.161644,0.077528,0.435186,-0.019404
2019-07-12,239.750000,245.380005,239.710007,245.080002,245.080002,9200500.0,1.149994,1.0,1.110001,0.133929,0.081245,0.184673,0.136639,0.463393,0.103258
2019-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.155528,0.096328,0.181245,0.128437,0.533782,0.154619
2019-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.151572,0.072623,0.191044,0.129225,0.520890,0.073895

In [12]:
# Drop unnecessary columns

daily = daily.drop(columns = ['Open','High', 'Low', 'Close', 'Adj Close', 'Volume'])
daily.head()

,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-01,NaN,NaN,NaN,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
2018-01-02,0.649994,1.0,-0.350006,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,0.470001,1.0,-4.980011,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,-4.380005,-1.0,-11.570007,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,2.000000,1.0,-2.619995,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976

## Fix Friday Sentiment Scores

#### Average Friday, Saturday and Sunday sentiment scores and assign new sentiment score for Friday

In [13]:
# Copy the daily dataframe

new_df = daily.copy()
new_df.head(7)

,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-01,NaN,NaN,NaN,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
2018-01-02,0.649994,1.0,-0.350006,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,0.470001,1.0,-4.980011,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,-4.380005,-1.0,-11.570007,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,2.000000,1.0,-2.619995,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976
2018-01-06,NaN,NaN,NaN,0.222727,0.065419,0.308636,0.099151,0.752783,0.049365
2018-01-07,NaN,NaN,NaN,0.063623,0.028566,0.100172,0.078293,0.234265,-0.076131

In [14]:
# Create a dataframe with only Friday's

fridays = new_df[new_df.index.day_name() == 'Friday'].reset_index()
fridays = fridays.rename(columns={"index": "date"})
fridays.columns = ['friday_' + str(col) for col in fridays.columns]
fridays.head()

,friday_date,friday_open_close_diff,friday_pos_neg,friday_close_low_diff,friday_sentiment_1,friday_sentiment_2,friday_s1_no_0,friday_s2_no_0,friday_s1_scaled,friday_s2_scaled
0,2018-01-05,2.000000,1.0,-2.619995,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976
1,2018-01-12,0.679993,1.0,-4.279999,0.039577,0.015762,0.063324,0.044742,0.155900,-0.119736
2,2018-01-19,0.429993,1.0,-1.970001,0.157997,0.087661,0.290274,0.164887,0.541831,0.125108
3,2018-01-26,3.859985,1.0,-1.930024,0.026095,0.020654,0.036657,0.069634,0.111962,-0.103076
4,2018-02-02,-0.809998,-1.0,-8.739990,0.088448,0.009655,0.136074,0.016897,0.315169,-0.140530

In [15]:
# Create a dataframe with only Saturday's

saturdays = new_df[new_df.index.day_name() == 'Saturday'].reset_index()
saturdays = saturdays.rename(columns={"index": "date"})
saturdays.columns = ['saturday_' + str(col) for col in saturdays.columns]
saturdays.head()

,saturday_date,saturday_open_close_diff,saturday_pos_neg,saturday_close_low_diff,saturday_sentiment_1,saturday_sentiment_2,saturday_s1_no_0,saturday_s2_no_0,saturday_s1_scaled,saturday_s2_scaled
0,2018-01-06,NaN,NaN,NaN,0.222727,0.065419,0.308636,0.099151,0.752783,0.049365
1,2018-01-13,NaN,NaN,NaN,0.077125,0.046140,0.133405,0.134227,0.278268,-0.016286
2,2018-01-20,NaN,NaN,NaN,0.126775,0.057644,0.257639,0.165071,0.440076,0.022887
3,2018-01-27,NaN,NaN,NaN,0.039758,-0.038280,0.050825,-0.056509,0.156490,-0.303767
4,2018-02-03,NaN,NaN,NaN,-0.174352,-0.080743,-0.205227,-0.126722,-0.541294,-0.448368

In [16]:
# Create a dataframe with only Sunday's

sundays = new_df[new_df.index.day_name() == 'Sunday'].reset_index()
sundays = sundays.rename(columns={"index": "date"})
sundays.columns = ['sunday_' + str(col) for col in sundays.columns]
sundays.head()

,sunday_date,sunday_open_close_diff,sunday_pos_neg,sunday_close_low_diff,sunday_sentiment_1,sunday_sentiment_2,sunday_s1_no_0,sunday_s2_no_0,sunday_s1_scaled,sunday_s2_scaled
0,2018-01-07,NaN,NaN,NaN,0.063623,0.028566,0.100172,0.078293,0.234265,-0.076131
1,2018-01-14,NaN,NaN,NaN,-0.204264,-0.012290,-0.270460,-0.045064,-0.638775,-0.215262
2,2018-01-21,NaN,NaN,NaN,0.109753,0.009579,0.184229,0.025011,0.384603,-0.140791
3,2018-01-28,NaN,NaN,NaN,0.164508,0.041271,0.223061,0.084658,0.563047,-0.032869
4,2018-02-04,NaN,NaN,NaN,0.119602,0.045630,0.164670,0.206421,0.416701,-0.018024

In [17]:
# Merge frudays, saturdays, and sundays into one dataframe

weekends = pd.concat([fridays, saturdays, sundays], axis=1, sort=False).reindex()
weekends.head()

,friday_date,friday_open_close_diff,friday_pos_neg,friday_close_low_diff,friday_sentiment_1,friday_sentiment_2,friday_s1_no_0,friday_s2_no_0,friday_s1_scaled,friday_s2_scaled,...,sunday_date,sunday_open_close_diff,sunday_pos_neg,sunday_close_low_diff,sunday_sentiment_1,sunday_sentiment_2,sunday_s1_no_0,sunday_s2_no_0,sunday_s1_scaled,sunday_s2_scaled
0,2018-01-05,2.000000,1.0,-2.619995,0.050091,0.026263,0.089410,0.069200,0.190164,-0.083976,...,2018-01-07,NaN,NaN,NaN,0.063623,0.028566,0.100172,0.078293,0.234265,-0.076131
1,2018-01-12,0.679993,1.0,-4.279999,0.039577,0.015762,0.063324,0.044742,0.155900,-0.119736,...,2018-01-14,NaN,NaN,NaN,-0.204264,-0.012290,-0.270460,-0.045064,-0.638775,-0.215262
2,2018-01-19,0.429993,1.0,-1.970001,0.157997,0.087661,0.290274,0.164887,0.541831,0.125108,...,2018-01-21,NaN,NaN,NaN,0.109753,0.009579,0.184229,0.025011,0.384603,-0.140791
3,2018-01-26,3.859985,1.0,-1.930024,0.026095,0.020654,0.036657,0.069634,0.111962,-0.103076,...,2018-01-28,NaN,NaN,NaN,0.164508,0.041271,0.223061,0.084658,0.563047,-0.032869
4,2018-02-02,-0.809998,-1.0,-8.739990,0.088448,0.009655,0.136074,0.016897,0.315169,-0.140530,...,2018-02-04,NaN,NaN,NaN,0.119602,0.045630,0.164670,0.206421,0.416701,-0.018024

In [18]:
# For each type of sentiment score, find the average for the weekend

weekends['sentiment_1'] = (weekends['friday_sentiment_1'] + weekends['saturday_sentiment_1'] + weekends['sunday_sentiment_1'])/3
weekends['sentiment_2'] = (weekends['friday_sentiment_2'] + weekends['saturday_sentiment_2'] + weekends['sunday_sentiment_2'])/3
weekends['s1_no_0'] =  (weekends['friday_s1_no_0'] + weekends['saturday_s1_no_0'] + weekends['sunday_s1_no_0'])/3
weekends['s2_no_0'] =  (weekends['friday_s2_no_0'] + weekends['saturday_s2_no_0'] + weekends['sunday_s2_no_0'])/3
weekends['s1_scaled'] =  (weekends['friday_s1_scaled'] + weekends['saturday_s1_scaled'] + weekends['sunday_s1_scaled'])/3
weekends['s2_scaled'] =  (weekends['friday_s2_scaled'] + weekends['saturday_s2_scaled'] + weekends['sunday_s2_scaled'])/3
weekends = weekends[['friday_date', 'saturday_date', 'sunday_date','sentiment_1', 'sentiment_2', 's1_no_0', 's2_no_0', 's1_scaled', 's2_scaled']]
weekends.head()

,friday_date,saturday_date,sunday_date,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
0,2018-01-05,2018-01-06,2018-01-07,0.112147,0.040083,0.166073,0.082215,0.392404,-0.036914
1,2018-01-12,2018-01-13,2018-01-14,-0.029187,0.016537,-0.024577,0.044635,-0.068202,-0.117095
2,2018-01-19,2018-01-20,2018-01-21,0.131508,0.051628,0.244047,0.118323,0.455503,0.002401
3,2018-01-26,2018-01-27,2018-01-28,0.076787,0.007881,0.103514,0.032594,0.277166,-0.146571
4,2018-02-02,2018-02-03,2018-02-04,0.011233,-0.008486,0.031839,0.032199,0.063525,-0.202307

In [19]:
# Replace the Friday sentiment scores in the daily dataframewith the new sentiment scores from weekends dataframe

for i in range(len(daily)):
    for j in range(len(weekends)):
        if daily.index[i] == weekends.friday_date[j]:
            daily.sentiment_1[i] = weekends.sentiment_1[j]
            daily.sentiment_2[i] = weekends.sentiment_2[j]
            daily.s1_no_0[i] = weekends.s1_no_0[j]
            daily.s2_no_0[i] = weekends.s2_no_0[j]
            daily.s1_scaled[i] = weekends.s1_scaled[j]
            daily.s2_scaled[i] = weekends.s2_scaled[j]
daily.head(7)

,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-01,NaN,NaN,NaN,0.159220,0.056144,0.253756,0.204524,0.545814,0.017779
2018-01-02,0.649994,1.0,-0.350006,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,0.470001,1.0,-4.980011,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,-4.380005,-1.0,-11.570007,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,2.000000,1.0,-2.619995,0.112147,0.040083,0.166073,0.082215,0.392404,-0.036914
2018-01-06,NaN,NaN,NaN,0.222727,0.065419,0.308636,0.099151,0.752783,0.049365
2018-01-07,NaN,NaN,NaN,0.063623,0.028566,0.100172,0.078293,0.234265,-0.076131

In [20]:
# Check for null values (Saturday's and Sunday's)

daily.isnull().sum()

open_close_diff    176
pos_neg            176
close_low_diff     176
sentiment_1          0
sentiment_2          0
s1_no_0              0
s2_no_0              0
s1_scaled            0
s2_scaled            0
dtype: int64

In [21]:
# Drop weekend rows

daily = daily.dropna()

In [22]:
# Preview shape of final dataset

daily.shape

(384, 9)

In [23]:
daily.head()

,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-02,0.649994,1.0,-0.350006,0.129106,0.010886,0.163974,0.065315,0.447675,-0.136340
2018-01-03,0.470001,1.0,-4.980011,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,-0.357795
2018-01-04,-4.380005,-1.0,-11.570007,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.130857
2018-01-05,2.000000,1.0,-2.619995,0.112147,0.040083,0.166073,0.082215,0.392404,-0.036914
2018-01-08,-0.579987,-1.0,-1.079987,0.134637,0.074042,0.195672,0.120457,0.465698,0.078729

In [24]:
daily.sentiment_1 = daily.sentiment_1.shift(1)
daily.sentiment_2 = daily.sentiment_2.shift(1)
daily.s1_no_0 = daily.s1_no_0.shift(1)
daily.s2_no_0 = daily.s2_no_0.shift(1)
daily.s1_scaled = daily.s1_scaled.shift(1)
daily.s2_scaled = daily.s1_scaled.shift(1)
daily = daily.dropna()
daily.head()

,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
2018-01-04,-4.380005,-1.0,-11.570007,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,0.447675
2018-01-05,2.000000,1.0,-2.619995,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.428520
2018-01-08,-0.579987,-1.0,-1.079987,0.112147,0.040083,0.166073,0.082215,0.392404,-0.178162
2018-01-09,-1.250000,-1.0,-9.010010,0.134637,0.074042,0.195672,0.120457,0.465698,0.392404
2018-01-10,-1.489990,-1.0,-3.690002,0.215636,0.058817,0.381270,0.170848,0.729674,0.465698

## Save Dataset for Timeseries

In [25]:
filepath = r'/Users/erikadauria/Flatiron/Projects/Predicting_Stock_With_Twitter_Sentiment/data_for_timeseries.csv'

daily.to_csv(filepath, header=True)

test = pd.read_csv('data_for_timeseries.csv')
test.head()

,Unnamed: 0,open_close_diff,pos_neg,close_low_diff,sentiment_1,sentiment_2,s1_no_0,s2_no_0,s1_scaled,s2_scaled
0,2018-01-04,-4.380005,-1.0,-11.570007,-0.139748,-0.054146,-0.204682,-0.087235,-0.428520,0.447675
1,2018-01-05,2.000000,1.0,-2.619995,-0.062928,0.012496,-0.086355,0.027508,-0.178162,-0.428520
2,2018-01-08,-0.579987,-1.0,-1.079987,0.112147,0.040083,0.166073,0.082215,0.392404,-0.178162
3,2018-01-09,-1.250000,-1.0,-9.010010,0.134637,0.074042,0.195672,0.120457,0.465698,0.392404
4,2018-01-10,-1.489990,-1.0,-3.690002,0.215636,0.058817,0.381270,0.170848,0.729674,0.465698